* {
    color: #fcfcfc;
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: black;
}

.navbar {
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
}

.nav-container {
    border-bottom: 0.01vh solid #fcfcfc5b;
    background-color: black;
}

#events {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.event {
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.event-title {
    padding-bottom: 0.5rem;
    font-weight: 400;
    font-size: 1.5rem;
}

.event-desc {
    border-top: 0.1vh solid #fcfcfc;
    font-weight: 300;
    padding-top: 0.5rem;
    font-size: 0.9rem;
}

.container {
    padding-left: 2rem;
    padding-right: 2rem;
}

nav a {
    text-decoration: none;
    color: #fcfcfc;
    transition-duration: 0.2s;
    
}

nav a:not(.navbar-brand) {
    padding-left: 10px !important;
}

nav a:hover:not(.navbar-brand) {
    background-color: gray;
}

nav .icons {
    width: auto;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

nav .icon {
    padding: 0.7rem;
}

.navbar-brand {
    padding-left: 0px;
}

.intro-bg {
    background: linear-gradient(
        rgba(0, 0, 0, 0.9),
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 1)
    ), url("../images/placeholder.jpg");
    margin-bottom: 8vh;
    padding: 0;
}

.intro p {
    font-size: 1rem;
    font-weight: 300;
}

.intro h1 {
    font-size: 4rem;
    font-weight: 100;
    letter-spacing: 1vw;
    margin-bottom: 1vh;
}

.black-div {
    background-color: black;
}

footer {
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.footer-copyright {
    border-top: 0.01vh solid #fcfcfc5b; 
    padding: 10px; 
    font-size: 0.8rem;
}

#membership li {
    font-size: 0.8rem;
}

#membership ul {
    padding-left: 1rem;
}


/* Larger than phablet */
@media (min-width: 576px) {}

/* Larger than tablet */
@media (min-width: 768px) {
    nav a:hover {
        border-top: 0.1vh solid #fcfcfc;
        color: #fcfcfc;
    }
}



/* Larger than desktop */
@media (min-width: 992px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}

